extends layouts/layout

block content
	h1= title
	p <img src="#{profileImageURL}" alt = "profImg" align="left">
	p #{firstname} #{lastname} (@#{username})
	p Bio: #{bio}

	h2 Contact Info
	p Email: #{email}
	p Phone: #{phone}
	p LinkedIn: #{linkedinID}
	p Facebook: #{facebookID}
	p GitHub: #{githubID}

	h2 Education
	p Major: #{major}
	p Classification: #{classification}
