extends ../layouts/nonav

block content
	#profile
		.profile
			.row
				.gravatar.col-xs-12.col-sm-5.col-md-3
					img(src="#{(user && !!user.gravatar) ? user.gravatar: auth.password.profileImageURL}")
					h4.uname @#{user.username}
				.user-info.col-xs-12.col-sm-7.col-md-9
					h3.user-name= user.fullname
					p.user-bio= user.bio
					.buttons
						a.btn.button.inline(href="/user/profile_edit") 
							i.material-icons mode_edit
							| Edit
						if user.isAdmin
							a.btn.button.inline(href="/user/admin") 
								i.fa.fa-lock
								| AdPanel
						if user.isMentor
							a.btn.button.inline(href="/user/admin/mentor") 
								i.fa.fa-lock
								| MPanel
						a.btn.button.inline(href="/user/changeavatar")
							i.material-icons account_circle
							| Change Gravatar
						a.btn.button.inline(href="/access/changepasswd")
							i.material-icons security
							| Change password
		
		.profile-info
			ul.collapsible(data-collapsible="collapsible")
				li.active
					.collapsible-header.active
						i.material-icons bookmark
						h5.c-header
							| Mentee Topics
					.collapsible-body
						if user.topics
							.topics-container
								.topics.row
									each topic in user.topics
										.topic-container.col.s12.m3
											.topic.blue.lighten-1
												h2 #{topic}
						else
							p You've not selected any topics.
				li
					.collapsible-header.active
						i.material-icons contacts
						h5.c-header
							| Contact Info
					.collapsible-body
						ul.contact-info
							each contact, i in user.contact
								li(class="#{i}")
									case i
										when 'facebookID'
											i.fa.fa-facebook-square
											a(href="https://www.facebook.com/#{contact}") Facebook (#{contact})
										when 'githubID'
											i.fa.fa-github-square
											a(href="https://www.github.com/#{contact}") Github (#{contact})
										when 'linkedinID'
											i.fa.fa-linkedin-square
											a(href="https://www.linkedin.com/in/#{contact}") LinkedIn (#{contact})
										when 'phone'
											i.fa.fa-phone-square
											span Phone (#{contact})
				li
					.collapsible-header
						i.material-icons school
						h5.c-header Education
					.collapsible-body.row
						.education
							.univ.col.s12.m4
								p University
								h5 Claflin University
							.major.col.s12.m4
								p Major
								h5= user.major
							.classification.col.s12.m4
								p Classification
								h5= user.classification

block js
	script.
		$(window).on('load', function() {
			//use session storage to figure out if already welcomed
			if(sessionStorage.welcomed) {
				return;
			} else {
				var $uname = $('.uname').text();
				Materialize.toast('Welcome ' + $uname, 5000);
				sessionStorage.welcomed = true;
			}
		});
