extends ../layouts/nonav

block content
	#profile
		.profile
			.row
				.gravatar.col-xs-12.col-sm-5.col-md-3
					img(src="#{(user && !!user.gravatar) ? user.gravatar: auth.password.profileImageURL}")
					h4.uname @#{user.username}
				.user-info.col-xs-12.col-sm-7.col-md-9
					h3.user-name= user.fullname
					p.user-bio= user.bio
					.buttons
						a.btn-large.button.inline(href="/user/profile_edit") 
							i.material-icons mode_edit
							| Edit
						if user.isAdmin
							a.btn-large.button.inline(href="/user/admin") 
								i.fa.fa-lock
								| Dashboard
						a.btn-large.button.inline(href="/user/changeavatar") Change Gravatar
						a.btn-large.button.inline.modal-trigger(data-target="modalChangepasswd") Change Password
		
		.profile-info
			ul.collapsible(data-collapsible="collapsible")
				li.active
					.collapsible-header.active
						i.material-icons contacts
						h5.c-header
							| Contact Info
					.collapsible-body
						ul.contact-info
							each contact, i in user.contact
								li(class="#{i}")
									case i
										when 'facebookID'
											i.fa.fa-facebook-square
											a(href="https://www.facebook.com/#{contact}") Facebook (#{contact})
										when 'githubID'
											i.fa.fa-github-square
											a(href="https://www.github.com/#{contact}") Github (#{contact})
										when 'linkedinID'
											i.fa.fa-linkedin-square
											a(href="https://www.linkedin.com/in/#{contact}") LinkedIn (#{contact})
										when 'phone'
											i.fa.fa-phone-square
											span Phone (#{contact})
				li
					.collapsible-header
						i.material-icons school
						h5.c-header Education
					.collapsible-body.row
						.education
							.univ.col.s12.m4
								p University
								h5 Claflin University
							.major.col.s12.m4
								p Major
								h5= user.major
							.classification.col.s12.m4
								p Classification
								h5= user.classification

		#modalChangepasswd.modal
			form(method="post", action="/access/changepasswd")
				.modal-content
					h5.heading.muted Change Password
					if err
						.errors
							p=err
					.field
						label(for="password") Current Password: <br>
						input#password(type="password", name="password", value=(!!password) ? password : "")
					.field
						label(for="newpassword") New Password: <br>
						input#newpassword(type="password", name="newpassword", value="")
					.field
						label(for="confirmpassword") Confirm Password: <br>
						input#confirmpassword(type="password", name="confirmpassword", value="")
				.modal-footer
					.field
						button.btn-large.waves-effect.waves-light(id="btnRegister", type="submit") Change Password

block js
	script.
		$(window).on('load', function() {
			//use session storage to figure out if already welcomed
			if(sessionStorage.welcomed) {
				return;
			} else {
				var $uname = $('.uname').text();
				Materialize.toast('Welcome ' + $uname, 5000);
				sessionStorage.welcomed = true;
			}
		});
