extends ../../layouts/nonav

block content
	.fixed-action-btn.horizontal.click-to-toggle(style="bottom: 45px; right: 24px;")
		a.btn-floating.btn-large.red(title="Click to Open")
			i.material-icons mode_edit
		ul
			li: a.btn-floating.red: i.material-icons insert_chart
			li: a.btn-floating.yellow.darken-1: i.material-icons format_quote
			li: a.btn-floating.green: i.material-icons publish
			li: a.btn-floating.blue: i.material-icons attach_file
	</div>
	#admin
		.admin-container
			h5.heading.muted Dashboard
			
			.stats-container.row
				.stat.col.s12.m4
					a.stat-container.user-count.row(href="#")
						i.fa.fa-user.col.s3
						span.col.s9
							p users
							h5= userCount
				.stat.col.s12.m4
					a.stat-container.mentee-count.row(href="#")
						i.fa.fa-user.col.s3
						span.col.s9
							p mentees
							h5= menteeCount
				.stat.col.s12.m4
					a.stat-container.mentor-count.row(href="#")
						i.fa.fa-user.col.s3
						span.col.s9
							p mentors
							h5= mentorCount
			
			.topics-container.row
				.inline-couple
					a.no-border(href="/topics")
						h5.heading.muted Topics
					button.btn-floating.light-green.modal-trigger(data-target="add-topic"): i.material-icons add
				.topics.row
					if topics
						each topic in topics
							.topic-container.col.s12.m3
								button.topic.modal-trigger(class="#{topic.shortname.toLowerCase()}", data-target="#{topic.shortname}-modal")
									h2 #{topic.shortname}
									p.abs-name #{topic.name}
									p.abs-cat #{topic.category}
							.modal(id="#{topic.shortname}-modal")
								form(method="post", action="/user/admin/update-topic")
									.modal-content
										h5.heading.muted Edit #{topic.name}
										.field
											label(for="topic") Topic
											input#topic.focus(type="text", name="topic", value="#{topic.name}")
										.field
											label(for="shortname") Shortname
											input#shortname.focus(type="text", name="shortname", value="#{topic.shortname}")
										.field
											label(for="category") category
											select#category(name="category")
												option(value="web" selected= (topic.category == "web") ? selected : null) Web
												option(value="mobile" selected= (topic.category == "mobile") ? selected : null) Mobile
												option(value="ios" selected= (topic.category == "ios") ? selected : null) iOS
												option(value="pc" selected= (topic.category == "pc") ? selected : null) PC
									.modal-footer
										.field
											button.btn-large.waves-effect.waves-light(id="btnUpdate", type="submit") Save
					else
						h3.muted No topics found.
				#add-topic.modal
					form(method="post", action="/user/admin/add-topic")
						.modal-content
							h5.heading.muted Add new topic
							.field
								label(for="topic") Topic
								input#topic.focus(type="text", name="topic")
							.field
								label(for="shortname") Shortname
								input#shortname.focus(type="text", name="shortname")
							.field
								label(for="category") category
								select#category(name="category")
									option(value="web") Web
									option(value="mobile") Mobile
									option(value="ios") iOS
									option(value="pc") PC
						.modal-footer
							.field
								button.btn-large.waves-effect.waves-light(id="btnUpdate", type="submit") Save
								
			.users-container.row
				h5.heading.muted Users
				.users
					table.responsive-table.highlight
						thead
							tr
								th(data-field="edit") Edit
								th(data-field="name") Name
								th(data-field="email") Email
								th(data-field="classification") Classification
								th(data-field="mentor") isMentor
						tbody
							each user in users
								tr
									td: button.modal-trigger.edit-button(data-target="#{user.username}-edit-modal")
										i.material-icons mode_edit
									td.name #{user.fullname}
									td.email #{user.email}
									td.classification #{user.classification}
									td.is-mentor #{(user.isMentor === true) ? "Yes" : "No"}
									td
										.modal(id="#{user.username}-edit-modal")
											form(method="post", action="/user/admin/edit-user")
												input(type="hidden", name="username", value="#{user.username}")
												.modal-content
													.inline-couple
														h5.Heading.muted Edit #{user.fullname}
													.field
														label(for="isAdmin") Admin?
														select#isAdmin(name="isAdmin")
															option(value="", disabled selected) Admin or not?
															option(value="true" selected) Yes
															option(value="false") No
													.field
														label(for="isMentor") Mentor?
														select#isMentor(name="isMentor")
															option(value="", disabled selected) Mentor or not?
															option(value="true") Yes
															option(value="false") No
												.modal-footer
													.field
														button.btn-large.waves-effect.waves-light(id="btnUpdate", type="submit") Save
											//- form to delete user
											form.delete-user(method="post", action="/user/admin/delete-user")
												input(type="hidden", name="email", value="#{user.email}")
												input(type="hidden", name="username", value="#{user.username}")
												button.btn.button.red(type="submit") 
													i.material-icons delete_forever
													| Remove
