mixin dayTimePicker
	- var days = ["monday", "tuesday", "wednesday", "thursday", "friday"]
	- var times = [8, 20]
	#dayTimePicker
		.row
			each day in days
				- var n = times[0]
				.dayTimePicker.col-xs-12.col-sm-15
					h4.day.button #{day}
					div.time-container
						p.instruction select times
						while n <= times[1]
							- var time = n
							if n > 12
								- time = n - 12
							- var am_pm = (n < 12) ? "am" : "pm"
							div.time(class= (user && user.availability && user.availability[day] && user.availability[day].indexOf(time + ':00' + am_pm) > -1) ? 'selected' : null)
								span.select-time(data-time="#{time}:00#{am_pm}", data-name="#{day}-times") #{time}:00#{am_pm}
								input(type="hidden", value="#{time}:00#{am_pm}" name= (user && user.availability && user.availability[day] && user.availability[day].indexOf(time + ':00' + am_pm) > -1) ? day + '-times' : null)
							- n++
		
	
